<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="solutionConfiguration" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
 </configSections>
	<solutionConfiguration>
		<solutions>
<!--			<solution>C:\Repos\Default\Personnel\Personnel.sln</solution>
			<solution>C:\Repos\Default\Conversion\Conversion.sln</solution>
			<solution>C:\Repos\Default\Financials\Financials.sln</solution>
			<solution>C:\Repos\Default\Court\Court.sln</solution>
			<solution>C:\Repos\Default\Cashiering\Cashiering.sln</solution>
			<solution>C:\Repos\Default\CRM\CRM.sln</solution>
			<solution>C:\Repos\Default\Tax\Tax.sln</solution>
			<solution>C:\Repos\Default\Foundation\Foundation.sln</solution>
			<solution>C:\Repos\Default\Foundation\API.sln</solution>
			<solution>C:\Repos\Default\Insite\Insite.sln</solution>
			<solution>C:\Repos\Default\Invision\Invision.sln</solution>
			<solution>C:\Repos\Default\Alloy\Alloy.Core.sln</solution> -->
			<solution>C:\Repos\Incode10\Incode10.sln</solution>
		</solutions>
	</solutionConfiguration>
 <startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<add key="LibraryFolder" value=".lib" />

		<add key="FeatureToggle.UseRelativePathing" value="true" />
		
		<add key="FeatureToggle.CopyLocalToggle" value="false" />
		<add key="FeatureToggle.CopyToOutputDirectoryToggle" value="false" />
		<add key="FeatureToggle.HintPathToggle" value="false" />

		<!-- This flag will attempt to replace file level references with project level-->
		<add key="FeatureToggle.ProjectReferencesToggle" value="false"/>

		<!-- Sync the version # between the reference and the file located at the hint path -->
		<add key="FeatureToggle.ReferenceVersionToggle" value="false"/>
		
		<add key="FeatureToggle.OutputPathToggle" value="true" />
		<add key="FeatureToggle.RunPostBuildEventToggle" value="false" />
		
		<add key="FeatureToggle.FixXCopyToggle" value="false"/>
		<add key="SummarizeXCopyToggle_FileName" value="XCopies.txt"/>

		<add key="FeatureToggle.BuildCopyScriptsToggle" value="false"/>
<!--		<add key="BuildCopyScripts_Destinations" value=".lib\Tyler_VX"/>-->
		<add key="BuildCopyScripts_Destinations" value=".out;.pkg;.tst"/>
		<add key="BuildCopyScripts_Target" value="bin\Debug"/>
<!--		<add key="BuildCopyScripts_Target" value="Windows\bin\Debug"/>-->

		<add key="FeatureToggle.MergeBinFoldersToggle" value="false"/>

		<add key="TargetFrameworkVersionToggle" value="false"/>
		<add key="TargetFrameworkVersion" value="v4.6.2"/>

	</appSettings>
</configuration>