<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="solutionConfiguration" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
		<section name="exclusionConfiguration" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
		<section name="ReferencesConfiguration" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
		<section name="PackagesConfiguration" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
		<section name="ReportsConfiguration" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
		<section name="FixesConfiguration" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
 </configSections>
	<FixesConfiguration>
		<ProjectReferenceReplacements>
			<ProjectReferenceReplacement>
				<Name>Foundation.Security</Name>
				<Replacement>Foundation.Model</Replacement>
			</ProjectReferenceReplacement>
		</ProjectReferenceReplacements>
		<Properties>
<!--				PreventsPostBuildEventsFromAlwaysRunning-->
<!--			<Property>
				<Name>RunPostBuildEvent</Name>
				<Value>OnOutputUpdated</Value>
			</Property>-->
			<Property>
				<Name>TargetFrameworkVersion</Name>
				<Value>v4.6</Value>
			</Property>
		</Properties>
	</FixesConfiguration>
	<exclusionConfiguration>
		<projects>
<!--            <project>ExpressService.csproj</project>-->
<!--            <project>SecurityService.csproj</project>-->
		<project>Api.Dispatch.Service.csproj</project>
		<project>Api.Dispatch.Service.Tests.csproj</project>
		<project>Api.Security.Service.csproj</project>
		<project>ExpressApi.csproj</project>
		</projects>
	</exclusionConfiguration>
	<solutionConfiguration>
		<solutions>
<!--		<solution>C:\Repos\Default\Alloy\Alloy.Core.sln</solution> -->
			<solution>C:\Repos\Incode10\Incode10.sln</solution>
<!--			<solution>C:\Repos\Incode10\PublicAPI\API.sln</solution>-->
<!--			<solution>C:\Repos\Incode10-Clone\Incode10.sln</solution>-->
<!--			<solution>C:\Repos\PublicAPI\API.sln</solution>-->
		</solutions>
	</solutionConfiguration>
	<PackagesConfiguration>
		<TargetFramework>net46</TargetFramework>
		<Packages>
			<Package>
				<PackageName>Public.API.*</PackageName>
				<Version>1.0.1.135</Version>
			</Package>
		</Packages>
	</PackagesConfiguration>
	<ReportsConfiguration>
<!--		<ReferenceRegex>Api\.Core</ReferenceRegex>-->
<!--		<ListUntrackedProjects>false</ListUntrackedProjects>-->
	</ReportsConfiguration>
	<ReferencesConfiguration>
		<References>
			<Reference>
				<AssemblyName>Api.Core</AssemblyName>
				<HintPathVersion>1.0.1.135</HintPathVersion>
				<IncludeVersion>1.0.1.135</IncludeVersion>
			</Reference>
			<Reference>
				<AssemblyName>Api.Dispatch.Service</AssemblyName>
				<HintPathVersion>1.0.1.135</HintPathVersion>
				<IncludeVersion>1.0.1.135</IncludeVersion>
			</Reference>
			<Reference>
				<AssemblyName>ExpressApi</AssemblyName>
				<HintPathVersion>1.0.1.135</HintPathVersion>
				<IncludeVersion>1.0.1.135</IncludeVersion>
			</Reference>
			<Reference>
				<AssemblyName>Api.Security.Service</AssemblyName>
				<HintPathVersion>1.0.1.135</HintPathVersion>
				<IncludeVersion>1.0.1.135</IncludeVersion>
			</Reference>
		</References>
	</ReferencesConfiguration>
 <startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<add key="LibraryFolder" value=".lib" />

		<!-- Sync the version # between the reference and the file located at the hint path -->
		<add key="ReferenceVersionType" value="Config" />

		<add key="FeatureToggle.UseRelativePathing" value="false" />
		
		<add key="FeatureToggle.CopyLocalToggle" value="false" />
		<add key="FeatureToggle.ColocateAssemblyInfoToggle" value="false" />
		<add key="FeatureToggle.CopyToOutputDirectoryToggle" value="false" />
		<add key="FeatureToggle.HintPathToggle" value="false" />

		<!-- This flag will attempt to replace file level references with project level-->
		<add key="FeatureToggle.ReferenceVersionToggle" value="false" />
		<add key="FeatureToggle.ProjectReferencesToggle" value="false" />
		
		<add key="FeatureToggle.OutputPathToggle" value="false" />
		<add key="FeatureToggle.RunPostBuildEventToggle" value="false" />
		
		<add key="FeatureToggle.FixXCopyToggle" value="false" />
		<add key="SummarizeXCopyToggle_FileName" value="XCopies.txt" />

		<add key="FeatureToggle.BuildCopyScriptsToggle" value="false" />
<!--		<add key="BuildCopyScripts_Destinations" value=".lib\Tyler_VX"/>-->
		<add key="BuildCopyScripts_Destinations" value=".out;.pkg;.tst" />
		<add key="BuildCopyScripts_Target" value="bin\Debug" />
<!--		<add key="BuildCopyScripts_Target" value="Windows\bin\Debug"/>-->

		<add key="FeatureToggle.MergeBinFoldersToggle" value="false" />

		<add key="TargetFrameworkVersionToggle" value="false" />
		<add key="TargetFrameworkVersion" value="v4.6.2" />
	</appSettings>
</configuration>