<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="LibraryFolder" value=".lib" />
<!--		<add key="SolutionPath" value="C:\Repos\Default\Personnel - Copy\Personnel.sln"/>-->
		<add key="SolutionPath" value="C:\Repos\Default\Financials\Financials.sln" />
<!--		<add key="SolutionPath" value="C:\Repos\Default\Court\Court.sln"/>-->
<!--		<add key="SolutionPath" value="C:\Repos\Default\Cashiering\Cashiering.sln"/>-->
<!--		<add key="SolutionPath" value="C:\Repos\Default\CRM\CRM.sln"/>-->
<!--		<add key="SolutionPath" value="C:\Repos\Default\Tax\Tax.sln"/>-->
<!--		<add key="SolutionPath" value="C:\Repos\Default\Foundation\Foundation.sln"/>-->
<!--			<add key="SolutionPath" value="C:\Repos\Default\Alloy\Alloy.Core.sln"/>-->
		<add key="FeatureToggle.CopyLocalToggle" value="false" />
		<add key="FeatureToggle.CopyToOutputDirectoryToggle" value="false" />
		<add key="FeatureToggle.HintPathToggle" value="true" />
		<add key="FeatureToggle.OutputPathToggle" value="false" />
		<add key="FeatureToggle.RunPostBuildEventToggle" value="false" />
	</appSettings>
</configuration>